<div class="contact-container">
    <div class="contact-text">
      <p>
        <strong>Executive Board Contact Information Directors: Tim Muth (719) 469-5612
          <br /> Jason Burns (719) 248-2805
          <br /> Secretary/Registration: Kendra England (719) 469-5390
          <br />
      </p>
      <hr size="5">
      <p> 17422 County Road 11
        <br /> Weston, CO 81091-9596</p>
        <div class="social-media-links">
          <a href="https://www.facebook.com/Camp.Salvation/" target="_blank">
            <img src="../../images/facebookIcon.png" class="social-icon">
          </a>
        </div>
    </div> 
  </div>
</body>