<div class="contact-container">
  <div style="display: flex;">
    <div class="contact-text">
      <p> 17422 County Road 11
        <br /> Weston, CO 81091-9596</p>
      <a style="font-size: 1.5rem;
      padding-right: 3rem;
      color: black;" href="https://www.facebook.com/Camp.Salvation/">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a style="font-size: 1.5rem; color: black;" href="https://www.instagram.com/campsalvation/">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
    <div style="margin: auto;">
      <h5>
        <a class="site-item" style="padding-right: 1rem;" href="/Camp-Salvation/public/pages/mission.html">Mission</a>
        <a class="site-item" style="padding-right: 1rem;" href="/Camp-Salvation/public/pages/about.html">About</a>
        <a class="site-item" href="/Camp-Salvation/public/pages/directions.html">Direction</a>
      </h5>
      <h5>
        <a class="site-item" style="padding-right: 1rem;" href="/Camp-Salvation/public/pages/camp-dates.html">Dates</a>
        <a class="site-item" style="padding-right: 1rem;" href="/Camp-Salvation/public/pages/registration.html">Registration</a>
        <a class="site-item" href="/Camp-Salvation/public/pages/volunteer.html">Volunteer</a>
      </h5>
      <h5>
        <a class="site-item" style="padding-right: 1rem;" href="/Camp-Salvation/public/pages/contact.html">Contact</a>
        <a class="site-item" href="/Camp-Salvation/public/pages/faq.html">FAQ</a>
      </h5>
    </div>
  </div>
  <p style="margin-bottom: 0rem; padding-top: 1rem;"> &copy;
    2009 Camp Salvation Bible Conference. All Rights Reserved.</p>
</div>