body
{
    background-color: white;
    font-family: 'Cabin Sketch', cursive;   
}


.fa-mountain
{
    font-size: 1.5rem;
}

A
{
    text-decoration: none !important;  
}


.carousel 
{
    display: table;
    vertical-align: middle
}

.Flex-Container
{
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.Flex-Container hr
{
    display: none;
}

.email
{   
    margin:auto;
    width: 100%;
    display: block;
}

.form-control
{
    width: 70%!important;
    margin:auto;
}


#newsletter-box
{
    border-right-style: solid;
    border-color: black;
    border-width: 2px;
    margin: auto;
    width: 100%;
}

#donate-box
{
    width: 100%;
}

#home-hr
{
    margin: auto;
    margin-bottom: 2rem;
    width: 90%;
}

#carouselExampleControls
{
    margin-bottom: 2rem;
    padding-left: 10%;
    padding-right: 10%;
    display: block!important;
    color: black;
}

.banner p, .banner h1 {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadeopaque {
    from { opacity: 0; }
    to   { opacity: .6; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeopaque {
    from { opacity: 0; }
    to   { opacity: .6; }
}

/* Internet Explorer */
@-ms-keyframes fadeopaque {
    from { opacity: 0; }
    to   { opacity: .6; }
}

/* Opera < 12.1 */
@-o-keyframes fadeopaque {
    from { opacity: 0; }
    to   { opacity: .6; }
}

hr
{
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: 65%;
  border-style: inset;
  border-width: 1px;
}

.banner
{
    background-image: url('../images/MountainBanner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 35rem;
    padding-bottom: 18rem;
    padding-top: 4rem;
    margin: 0;
    margin-top: 3.7rem;
    font-family: 'Courgette', cursive;
    
    color: lightgray;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.banner h1
{
    font-size: 5rem;
}

.shadow {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .shadow:hover {
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  }
  
.icon-flex-container
{
    display: flex;
    justify-content: space-between;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 13rem;
}

.home-content
{
    text-align: center;
    padding-top: 2rem;
    font-size: 6rem;
    background-color: #b3a88c;
}

.main-content
{
    text-align: center;
    padding-top: 6rem;
    background-color: #b3a88c;
    padding-bottom: 6rem;
    padding-left: 5%;
    padding-right: 5%;
}

.main-content hr
{
    margin: auto;
    width: 90%;
    margin-top: 2em;
    margin-bottom: 2em;
    border-width: 2px;
}

.home-mid-shrink
{
    display: none;
}

.icon-container
{
    width: 10rem;
    height: 11rem;
    border-width: 1px;
}



.icon-container > p
{
    font-size: 1.5rem;
    color: black;
}

.icon-text
{
    font-size: 1.1rem !important;
    margin-left: -2rem;
    margin-right: -2rem;
}

.icon-container > a
{
    color: #212529;
}

.icon
{
    background-color: #69633f;
    width: 100% !important;
    height: 10rem;
    border-radius: 30%;
    padding: 2rem;
}

.contact-container
{
    background-image: url('../images/wood.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-text
{
    color: lightgray;
    font-size: 1.1rem;
    padding-left: 3rem;
    padding-top: 5rem;
    padding-bottom: 3rem;
    
        text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.mission-text
{
    margin-bottom: 5rem;
}

.color2
{
    background-clip: #b3a88c;
}


.color3
{
    background-color: #69633f;
}

.color4
{
    background-color: #8d7a74;
}

.color5
{
    color: #714c39;
}

.icon:hover
{
    position: relative; 
    top: -10px;
}

.activity-flex-container
{
    display: flex;
    justify-content: space-between;
}

.activity-flex-container img
{
    width: 100%;
    height: 100%;
}

.activity
{
    position: relative;
}

.text-block {
    position: absolute;
    bottom: 0px;
    right: 0px;
    opacity: 0;
    background-color: white;
    color: black;
    padding: 1%;
    width: 75%;
    font-size:1.2vw;
  }

  img:hover + .text-block
  {
    -webkit-animation: fadeopaque 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadeopaque 2s; /* Firefox < 16 */
        -ms-animation: fadeopaque 2s; /* Internet Explorer */
         -o-animation: fadeopaque 2s; /* Opera < 12.1 */
            animation: fadeopaque 2s;
  }

  .text-block:hover
  {
    -webkit-animation: fadeopaque 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadeopaque 2s; /* Firefox < 16 */
        -ms-animation: fadeopaque 2s; /* Internet Explorer */
         -o-animation: fadeopaque 2s; /* Opera < 12.1 */
            animation: fadeopaque 2s;
  }

  .text-block h4{
    font-size:2vw;
  }

  #direction-flex
  {
    display: flex;
    justify-content: space-between;
  }

  .direction-content
  {
      padding-left: 8%;
      padding-right: 8%;
  }

  #location
  {
      padding-top: 40%;
  }

@media screen and (max-width: 600px)
{
    .icon-flex-container
    {
        display: block;
        padding-left: 10%;
        padding-right: 10%;
    }

    .icon-text
    {
        margin-left: -2rem;
        margin-right: -2rem;
    }

}

@media screen and (max-width: 1000px) {

    .banner h1
{
    font-size: 3rem;
}

    .activity-flex-container
    {
        display: block;
    }

    .Flex-Container
    {   
        display: block;
    }
    #donate-box
    {
        margin-top: 3rem;;
    }

    #newsletter-box
    {
        padding-bottom: 3rem;        
    }

    .Flex-Container hr
    {
        display: block;
        margin: auto;
        width: 60%;
    }

    .text-block
    {
        font-size:3vw;
        width: 100%;
        padding: 0;
        opacity: .8;
    }

    .text-block h4
    {
        font-size:4vw;
    }

      .activity
    {
        margin-bottom: 2rem;
    }   

    .home-large
    {
        display: none;
    }

    .home-mid-shrink
    {
        display: inherit;
    }

    .icon-flex-container
    {
        margin-left: auto!important;
        margin-right: auto!important;
        padding-bottom: 0px !important;
        padding-left: 0%;
        padding-right: 0%;
    }
    
    .icon-container
    {
        width: auto;
        height: auto;
        margin-bottom: 5rem;
    }
    
    .icon
    {
        height: 15rem!important;
        width: 15rem!important;
    }
    
    .icon-text
    {
        font-size: 1.5rem !important;
        margin-left: 0rem;
        margin-right: 0rem;
    }
        
    .icon-container > p
    {
        font-size: 2rem;
        color: black;
    }
    
    .banner
    {
        height: 40rem;
        padding-top: 10rem;
    }

    #direction-flex
    {
      display: block;
    }

}
