body
{
    background-color: white;
    font-family: 'Cabin Sketch', cursive;   
}

h1
{
    font-size: 3vw;
}

p
{
    font-size: 2vw !important;
}
.fa-mountain
{
    font-size: 1.5rem;
}

A
{
    text-decoration: none !important;  
}

.big-btn
{
    font-size: 3vw !important;
}

.card-li
{
    font-size: 1.8vw !important;
}


.carousel 
{
    display: table;
    vertical-align: middle
}

#carouselExampleControls
{
    width:100%; 
    height: 16vw!important;
}

.carousel-item h4
{
    font-size: 3vw;
}

.Flex-Container
{
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    position: relative;
}

.Flex-Container hr
{
    display: none;
}

.email
{   
    margin:auto;
    width: 100%;
    display: block;
}

.form-control
{
    width: 70%!important;
    margin:auto;
}


#newsletter-box
{
    border-right-style: solid;
    border-color: black;
    border-width: 2px;
    margin: auto;
    width: 100%;
}

#donate-box
{
    width: 100%;
}

#home-hr
{
    margin: auto;
    margin-bottom: 2rem;
    width: 90%;
}

#carouselExampleControls
{
    margin-bottom: 2rem;
    padding-left: 10%;
    padding-right: 10%;
    display: block!important;
    color: black;
}

#nav-title
{
    color: gray;
    margin-bottom: 0px;
    margin-left: 1rem;
    margin-right: 2rem;
}

#nav-logo
{
    width: 10rem;
    color: white;
    filter: invert(1);
}

.banner p, .banner h1 {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadeopaque {
    from { opacity: 0; }
    to   { opacity: .6; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeopaque {
    from { opacity: 0; }
    to   { opacity: .6; }
}

/* Internet Explorer */
@-ms-keyframes fadeopaque {
    from { opacity: 0; }
    to   { opacity: .6; }
}

/* Opera < 12.1 */
@-o-keyframes fadeopaque {
    from { opacity: 0; }
    to   { opacity: .6; }
}

hr
{
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: 65%;
  border-style: inset;
  border-width: 1px;
}

.banner
{
    background-image: url('https://lh3.googleusercontent.com/DN19FgesDyFWsd5QFgX6gNaNmQr_MSVs4NW5ipsfqH9EmS2jBzJHgahkuzS13yTdc-x3lO1zTiZRhp5k2swJW2XZfpUjp2j0O5p2pNQKjnu6Sr1IRPIa98FS0n6PnKFj4x8TAqaKYg=w2400');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    height: 30rem;
    padding-bottom: 18rem;
    padding-top: 4rem;
    margin: 0;
    margin-top: 3.7rem;
    font-family: 'Courgette', cursive;
    
    color: lightgray;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.check-in
{
    background-image: url('https://lh3.googleusercontent.com/m-CdgdFxA_7uRvdoOyTZ22x5W3-cP-Nff70rW9hoiUPGfnjAUffdHvsF-SWEWH_VoQPKBfBapErDhagpJgGSJPynkD7r-aT8FwwXds3hbhizFClUgMKPFY88H0mTsA-HFZHrAQkgfQ=w2400');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 40vw;
    padding-top: 7rem;
    font-family: 'Courgette', cursive;
    
    color: lightgray;
    text-shadow:-4px 1px 18px #000, 1px -1px 16px #000, 6px 18px 16px #000, 16px 15px 20px #000;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    position: relative;

}

.banner h1
{
    font-size: 6vw;
    position: fixed;
    left: 0px;
    right: 0px;
}
.banner p
{
    position: fixed;
    margin-top: 8rem;
    left: 0px;
    right: 0px;
    font-size: 2vw;
}

.shadow {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12)!important;
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1)
  }
  
  .shadow:hover {
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12)!important;
  }
  
.icon-flex-container
{
    display: flex;
    justify-content: space-between;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 17vw;
}

.home-content
{
    text-align: center;
    padding-top: 2rem;
    font-size: 6rem;
    background-color: #b3a88c;
    position: relative;
}

#volunteer-text
{
    background-color: #cfd3d6;
    position: relative;
    text-align: center;
    font-size: 1.4rem;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}

#volunteer-text hr
{
    margin: auto;
    width: 20%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #b3a88c;
}

#position-section
{
    background-color: white;
    position: relative;
}

#signup-section
{
    padding: 2rem;
    position: relative;
    background-color: #b3a88c;
    text-align: center;
    border-bottom: solid black;
}

#faq-contact
{
    padding: 2rem;
    position: relative;
    background-color: white;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 2rem;
    border-left:#343a40 solid;
}

#faq-contact-btn
{
    color: white;
}


.position
{  
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 4rem;
    margin-right: 4rem;
    position: relative;
    border-bottom: solid lightgray;
}

.position-volunteer
{  
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;
    border-bottom: solid lightgray;
}

.header-volunteer
{
    font-size: 3rem;
    text-decoration: none;
    color: black;
}

#pricing
{
    background-color:lightgray;
    text-align: center; 
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.main-content
{
    text-align: center;
    padding-top: 6rem;
    background-color: #b3a88c;
    padding-bottom: 6rem;
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
}

.faq-content
{
    text-align: center;
    padding-top: 3rem;
    background-color: #b3a88c;
    padding-bottom: 2rem;
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
}

.main-content hr
{
    margin: auto;
    width: 90%;
    margin-top: 2em;
    margin-bottom: 2em;
    border-width: 2px;
}

.home-mid-shrink
{
    display: none;
}

.icon-container
{
    width: 16vw;
    height: 12vw;
    border-width: 1px;
}



.icon-container > p
{
    font-size: 2vw;
    color: black;
}

.icon-text
{
    font-size: 1.7vw !important;
    margin-left: -2rem;
    margin-right: -2rem;
}

.icon-container > a
{
    color: #212529;
}

.icon
{
    background-color: #69633f;
    width: 75% !important;
    height: 100%;
    border-radius: 30%;
    padding: 2rem;
}

.contact-container
{
    background-image: url('../images/wood.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 1rem;
}

.contact-text
{
    color: lightgray;
    font-size: 1.1rem;
    
        text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    margin: auto;
}

.color2
{
    background-clip: #b3a88c;
}


.color3
{
    background-color: #69633f;
}

.color4
{
    background-color: #8d7a74;
}

.color5
{
    color: #714c39;
}

.icon:hover
{
    position: relative; 
    top: -10px;
}

.activity-flex-container
{
    display: flex;
    justify-content: space-between;
    
}

.activity-flex-container img
{
    width: 100%;
    height: 100%;
}

.activity
{
    position: relative;
}

.activity-image
{
    border-radius: 2%;
}

.text-block {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background: rgba(255, 255, 255, 0.6);
    color: black;
    padding: 1%;
    font-size:1.2vw;
    border-radius: 10%;
  }

  .text-block h4{
    font-size:2vw;
  }

  #schedule-class
  {
      background-color: #69633f;
      position: relative;
      text-align: center;
      color: lightgray;
      text-shadow:
      -1px -1px 0 gray,
      1px -1px 0 gray,
      -1px 1px 0 gray,
      1px 1px 0 gray;

      border-radius: 6px 6px 6px 6px;
      -moz-border-radius: 6px 6px 6px 6px;
      -webkit-border-radius: 6px 6px 6px 6px;
      border: 0px solid #000000;
      font-size: 2vw;
  }

  #schedule-class hr
  {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
  }

  .schedule-item
  {
    margin-bottom: 1rem;
    padding-bottom: .5rem;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: gray;
  }

  
  .schedule-item svg
  {
      display: block;
      font-size: 4vw;
  }

  .list-group-item
  {
    background-color: #69633f!important;
  }

  #direction-flex
  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10vw;
    padding-left: 10vw;
  }

  .direction-content
  {
      padding-left: 8%;
      padding-right: 8%;
  }

  .map-frame
  {
      width: 30vw;
      height: 20vw;
  }

  .raise:hover
  {
      position: relative; 
      top: -5px;
  }

  .card-deck
  {
      margin-top: 2rem;
  }

  .single-card
  {
    width: 50%; 
    margin: auto; 
    margin-top: 2rem;
  }

  .faq-card-header
  {
      border-left:#343a40 solid;
  }

  .faq-card-body
  {
      font-size: 1.2rem;
  }

  .faq-card
  {
      background-color: #b3a88c;
      border: none;
  }

  .faq-btn
  {
      color: #343a40;
      font-size: 2rem;
  }

  .faq-btn:hover
  {
      color: black;
      text-decoration: none;
  }
  .faq-btn:focus
  {
    text-decoration: none;
  }

  .mission-text
  {
      font-size: 2vw;
  }

  #faith-box 
  {
      background-color: lightgray;

      text-align: center;
      padding-top: 2rem;

      border-radius: 6px 6px 6px 6px;
      -moz-border-radius: 6px 6px 6px 6px;
      -webkit-border-radius: 6px 6px 6px 6px;
      border: 0px solid #000000;
      position: relative;
  }

  #faith-box hr
{
    margin: auto;
    width: 90%;
    margin-top: 2em;
    margin-bottom: 2em;
    border-width: 2px;
}

  #faith-box p
  {
    margin-bottom: 0rem;
    width: 50%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .number-icon
  {

        margin: auto;
        align-items: center;
        border-radius: 100%;
        width: 7rem;
        height: 7rem;
        background: lightgray;
        color: #660000;
        vertical-align: middle;
        margin-bottom: 2rem;
        font-size: 5rem;
        border-radius:75%;
  }

  #staff-app-flex
  {
    display: flex; 
    justify-content: space-between;
  }

  #faith-flex
  {
    display: flex;
    justify-content: space-between;
  }

  .date-box
  {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .site-item
  {
      color: black;
  }

  #pricing-items
  {
    display:flex; 
    justify-content: space-between; 
    padding-left: 5%; 
    padding-right: 5%;
  }
  
  .modal-dialog
    {
        overflow-y: initial !important;
        max-width: 100%;
        width: 75%;
        margin-top: 1rem;
    }

    .modal-header h1
    {
        width: 100%;
    }

    .modal-body
    {
    height: 35vw;
    overflow-y: auto;
    font-size: 2vw;
    }     
    
    .contact-flex
    {
        display: flex;
    }

    .staff-app-item
    {
        width: 50%;
    }

    .shirt-img
    {
        height: 75%; 
        width: auto; 
        overflow: hidden
    }
    

@media screen and (max-width: 600px)
{
    #pricing-items
    {
      display:block; 
    }

    .icon-flex-container
    {
        display: block;
        padding-left: 10%;
        padding-right: 10%;
    }

    #faith-flex
    {
        display: block;
    }

    #faith-box p
    {
      margin-bottom: 0rem;
      width: 100%;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .icon-text
    {
        margin-left: -2rem;
        margin-right: -2rem;
    }

    #carouselExampleControls
    {
        width:100%; 
        height: 50vw!important;
    }   

    .carousel-item h4
    {
        font-size: 6vw;
    }

    #email-submit
    {
        margin-top: 1.3rem;
    }


    .schedule-item svg
    {
        display: none;
    }

    .schedule-item
    {
        font-size: 1.5rem;
    }
    
    #nav-logo
    {
        width: 5rem;
    }

    #contactForm .form-control
    {
        width: 100%!important;
    }


    .contact-container
    {
        display: block;
    }

    #schedule-class
    {
        font-size: 2rem;
    }

    .check-in
    {
        height: 70rem !important;
    }

    .single-card
    {
      width: 100%; 
      margin: auto; 
      margin-top: 2rem;
    }

}

@media screen and (max-width: 1000px) {

    #staff-app-flex
    {
      display: block
    }

    .staff-app-item
    {
        width: 100%;
        margin-bottom: 2rem;
    }

    .big-btn
    {
        font-size: 3rem !important;
    }

    .card-li
    {
        font-size: 1.2rem !important;
    }

    .check-in
    {
        height: 40rem;
        padding-top: 1rem;
    }

    #calender
    {
        width: 90vw !important;
        height: 90vw !important;
    }

    #check-in-img
    {
        width: 70vw !important;
        height: 50vw !important;
    }

    .contact-flex
    {
        display: block;
    }

    .modal-dialog
    {
        margin: 0px;
        margin-top: .5rem;
        width: 100%;
    }

    .modal-header h1
    {
        font-size: 2rem;
    }

    .modal-body
    {
    height: 15rem;
    font-size: 1.5rem;
    } 

    p
    {
        font-size: 2rem !important;
    }

    .schedule-item svg
    {
        font-size: 4rem;
    }

    #schedule-class
    {
        font-size: 2rem;
    }

    .mission-text
    {
        font-size: 1.6rem !important;
    }

    #faith-box p
    {
        font-size: 1.6rem !important;
    }

    h1 
    {
        font-size: 3rem;
    }

    .banner h1
    {
        font-size: 5rem;
    }

    .banner p
    {
        margin-top: 14rem;
        font-size: 1.6rem !important;
    }   

    .activity-flex-container
    {
        display: block;
    }

    .Flex-Container
    {   
        display: block;
    }
    #donate-box
    {
        margin-top: 3rem;;
    }

    #newsletter-box
    {
        padding-bottom: 3rem;        
    }

    .Flex-Container hr
    {
        display: block;
        margin: auto;
        width: 60%;
    }

    .text-block
    {
        width: 100%;
        padding: .5;
        background: rgba(255, 255, 255, 0.3);
        text-shadow:
        -4px 7px 11px #212529, 1px -1px 0 #212529, -1px 1px 0 black, 3px 3px 10px black;
        color: white;
    }

    .text-block bold 
    {
        text-shadow:
        1px 1px 3px #adb5bd, 1px 1px 0 #adb5bd, 1px 1px 0 #adb5bd, 1px 1px 0px #adb5bd;
    }

    .text-block p
    {
        font-size: 5vw !important;
    }

    .text-block h4
    {
        font-size:5vw;
    }

      .activity
    {
        margin-bottom: 2rem;
        width: 100% !important;
    }   

    .home-large
    {
        display: none;
    }

    .home-mid-shrink
    {
        display: inherit;
    }

    .icon-flex-container
    {
        margin-left: auto!important;
        margin-right: auto!important;
        padding-bottom: 0px !important;
        padding-left: 0%;
        padding-right: 0%;
    }
    
    .icon-container
    {
        width: auto;
        height: auto;
        margin-bottom: 5rem;
    }
    
    .icon
    {
        height: 15rem!important;
        width: 15rem!important;
    }
    
    .icon-text
    {
        font-size: 1.6rem !important;
        margin-left: 0rem;
        margin-right: 0rem;
    }
        
    .icon-container > p
    {
        font-size: 2rem !important;
        color: black;
    }
    
    .banner
    {
        height: 35rem;
        padding-top: 10rem;
    }

    #direction-flex
    {
      display: block;
      padding-right: 0!important;
      padding-left: 0!important;
    }

    #location
    {
        padding-top: 2rem;
    }

    .map-frame
    {
        width:80vw;
        height:60vw;
    }

    #nav-title
    {
        margin-right: 0rem;
        margin-left: 0rem;
        font-size: 1.5rem;
    }

    .date-box
    {
        display: block;
        padding: 0%;
    }
    .date-box-descr
    {
      padding-top: 1rem;
      padding-left: 0px !important;
      padding-right: 0px !important;
    }

}
