<div class="contact-container">
  <div class="contact-text">
    <p> 17422 County Road 11
      <br /> Weston, CO 81091-9596</p>
      <a style="font-size: 1.5rem;
      padding-right: 3rem;
      color: black;" href="pages/camp-dates.html">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a style="font-size: 1.5rem; color: black;" href="pages/camp-dates.html">
        <i class="fab fa-instagram"></i>
      </a>
  </div>
  <div style="margin: auto;">
    <h5>
      <a class="site-item" style="padding-right: 1rem;" href="/pages/mission.html">Mission</a>
      <a class="site-item" style="padding-right: 1rem;" href="/pages/about.html">About</a>
      <a class="site-item" href="/pages/directions.html">Direction</a>
    </h5>
    <h5>
    <a class="site-item" style="padding-right: 1rem;" href="/pages/camp-dates.html">Dates</a>
    <a class="site-item" style="padding-right: 1rem;" href="/pages/registration.html">Registration</a>
    <a class="site-item" href="/pages/volunteer.html">Volunteer</a>
    </h5>
    <h5>
    <a class="site-item" style="padding-right: 1rem;"href="/pages/contact.html">Contact</a>
    <a class="site-item" href="/pages/faq.html">FAQ</a>
    </h5>
  </div>
</div>