<div class="contact-container">
  <div class="contact-flex">
    <div class="contact-text">
      <p> 17422 County Road 11
        <br /> Weston, CO 81091-9596</p>
      <a style="font-size: 2rem;
      padding-right: 3rem;
      color: black;" href="https://www.facebook.com/Camp.Salvation/">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a style="font-size: 2rem; color: black;" href="https://www.instagram.com/campsalvation/">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
    <div style="margin: auto;">
      <p>
        <a class="site-item" style="padding-right: 1rem;" href="/pages/mission.html">Mission</a>
        <a class="site-item" style="padding-right: 1rem;" href="/pages/about.html">About</a>
        <a class="site-item" href="/pages/directions.html">Direction</a>
      </p>
      <p>
        <a class="site-item" style="padding-right: 1rem;" href="/pages/camp-dates.html">Dates</a>
        <a class="site-item" style="padding-right: 1rem;" href="/pages/registration.html">Registration</a>
        <a class="site-item" href="/pages/volunteer.html">Volunteer</a>
      </p>
      <p>
        <a class="site-item" style="padding-right: 1rem;" href="/pages/contact.html">Contact</a>
        <a class="site-item" href="/pages/faq.html">FAQ</a>
      </p>
    </div>
  </div>
  <p style="margin-bottom: 0rem; padding-top: 1rem;"> &copy;
    2021 Camp Salvation Bible Conference. All Rights Reserved.</p>
</div>