<!-- Nav bar used throughout the website-->
<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <img id="nav-logo" src="/images/logo.png">
    <a href="/index.html">
        <h2 id="nav-title">Camp Salvation</h2>
    </a>

    <!-- Create navbar to collapse on small pages or mobile-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Drop Down menue navabar-->
    <div class="collapse navbar-collapse justify-content-between" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto mr-5">

            <!-- About Sections-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    About Us
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/pages/mission.html">Mission</a>
                    <a class="dropdown-item" href="/pages/about.html">About Camp</a>
                </div>
            </li>

            <!-- Camp Information Sections-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Camp Information
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/pages/directions.html">Directions</a>
                    <a class="dropdown-item" href="/pages/registration.html">Registration</a>
                </div>
            </li>
            <!-- Support Sections-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Support Us
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/pages/donate.html">Donate</a>
                    <a class="dropdown-item" href="/pages/volunteer.html">Volunteer</a>
                </div>
            </li>

            <!-- Question Sections-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Questions
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/pages/contact.html">Contact</a>
                    <a class="dropdown-item" href="/pages/faq.html">FAQ</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="loginDropDown" data-toggle="modal"
                    data-target="#myModal">
                    Staff Login
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" id="AccountBtn" href="#">Account</a>
                    <a class="dropdown-item" id="logOutBtn" href="#">Log Out</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <form>
                <div class="modal-header d-block">
                    <h3 class="text-center">Camp Salavation Staff Login</h3>
                </div>
                <div class="modal-body">
                    <h5 class="text-center">Email</h5>
                    <input id="email" type="email" class="form-control" placeholder="name@example.com" required>
                    <h5 class="text-center">Password</h5>
                    <input id="password" type="password" class="form-control" required>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="login-btn" class="btn btn-secondary">Login</button>
                </div>
            </form>
        </div>

    </div>
</div>

<script defer src="/scripts/firebaseController.js"></script>